 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */


#include "rk3568-linux.dtsi"


/ {
    chosen: chosen {
	bootargs = "earlycon=uart8250,mmio32,0xfe660000 console=ttyFIQ0 root=PARTUUID=614e0000-0000 rw rootwait";
    };

	rk3568_led {
		compatible = "atkrk3568-led";
		status = ok;
		reg = <>;
	};

	key {
		compatible = "alientek,key";
		pincrtl-0 = <&key_gpio>;
		pinctrl-names = "default";
		key-gpio = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	}
}

&pinctrl {
	key-gpios {
		key_gpio: key-pin {
			rockchip,pins = 
				<3 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};